body {
  background: #FAFAFA;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

/* TOOLBAR */
paper-toolbar{
  font-size: 20px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 400;
}

paper-toolbar a {
  z-index: 1;
  height: 100%;
  border: 2px solid transparent;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  line-height: 64px;
  padding-right: 15px;
}

paper-toolbar h1 {
  font-size: 0.8em;
  font-weight: inherit;
  margin: inherit;
}

paper-toolbar a:hover ,paper-toolbar  a:focus {
  border-bottom: 2px solid white;
}
paper-toolbar .logo {
  margin-left: -130px;
  height: 100%;
}

.paper-toolbar{
  background: url('../images/bg_left.png') no-repeat left, url('../images/bg_right.png') no-repeat right !important;
  padding: 0 !important;
}

