<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="people-card">
    <template>
        <paper-card heading="{{people.lastname}}">
            <div class="card-content">
                <span>{{people.email}}</span>
                <img src="{{people.photo}}">
                <section layout="row" class="layout-row">
                    <div layout="column" layout-align="space-around" class="layout-align-space-around-stretch layout-column">
            <span flex="75" class="flex-75">
              <span class="md-headline">
                 <a href="#/people/ewingromero@sfeir.com" class="ng-binding"> FRANKLIN</a>
              </span>
              <span layout="column" class="layout-column flex-100" flex="100">
                 <div class="people-name ng-binding">Gray</div>
                 <div>
                     <paper-icon md-svg-icon="img/md-email.svg" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"></path></svg></paper-icon>
                     <a href="mailto:Mcleod Franklin&lt;ewingromero@sfeir.com&gt;" class="ng-binding">ewingromero@sfeir.com</a>
                 </div>
               <div ng-if="::people.contactInfoPro.mobilePhone" class="ng-scope">
                  <paper-icon md-svg-icon="img/md-phone.svg" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z"></path></svg></paper-icon>
                  <a href="tel:+33689748437" class="ng-binding">+33689748437</a>
              </div>
              </span>
            </span>
                <md-card-title-media ng-if="::!describe" flex="30" class="ng-scope flex-30">
                    <div class="card-media">
                        <a href="#/people/ewingromero@sfeir.com">
                            <img class="thumb" err-src="img/profile.svg" ng-src="https://randomuser.me/portraits/men/65.jpg" src="https://randomuser.me/portraits/men/65.jpg">
                        </a>
                    </div>

            </div>
            <div class="card-actions">
                <paper-button>Some action</paper-button>
            </div>
        </paper-card>
    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is : 'people-card',
                properties : {
                    people:{
                        type: Object,
                        notify: true
                    }
                }
            });
        })();
    </script>
</dom-module>
