<template id="my-tpl">
  <style>
    span {
      color:red;
    }
    .name{
      text-transform: uppercase;
    }
  </style>
  <input id="input" type="text">
  <span>Bonjour:</span><span class="name"></span>
</template>


<script>
  (function onload(){
    console.log('component load');

    var myDocument=document.currentScript.ownerDocument;
    var proto = Object.create(HTMLElement.prototype, {
      createdCallback: {
        value: function() {
          var template = myDocument.querySelector('#my-tpl');
          var clone = document.importNode(template.content, true);
          var shadow = this.createShadowRoot();
          shadow.appendChild(clone);
          this.setEvents();
        }
      },
      setEvents: {
        value:function(){
          var span = this.shadowRoot.querySelector('.name');
          var input = this.shadowRoot.querySelector('#input');

          input.onkeyup = function(){
            if (span.textContent || span.textContent === "") {
              span.textContent = input.value;
            }
          };

        }
      }
    });

    document.registerElement('hello-world', {
      prototype: proto
    });
  })()

</script>
