<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="people-form">
    <style include="iron-flex iron-flex-alignment">

        .column{
            padding-right: 20px;
        }
    </style>
    <template>
        <section class="layout horizontal">
        <section class="column">
            <h2 id="accountInfoHeading">Identité</h2>
            <div class="row input-row">
                <paper-input type="tel" id="firstname" name="firstname" placeholder="Prénom" required></paper-input>
            </div>
            <div class="row input-row">
                <paper-input type="tel" id="lastname" name="lastname" placeholder="Nom" required></paper-input>
            </div>
            <div class="row input-row">
                <paper-input type="email" id="accountEmail" name="accountEmail"
                             placeholder="Email" autofocus required
                             aria-labelledby="accountEmailLabel accountInfoHeading"></paper-input>
            </div>
            <div class="row input-row">
                <paper-input type="tel" id="accountPhone" name="accountPhone" pattern="\d{10,}"
                             placeholder="Phone Number" required
                             aria-labelledby="accountPhoneLabel accountInfoHeading"></paper-input>

            </div>
        </section>
        <section class="column">
            <h2 id="accountInfoHeading">Addresse</h2>
            <div class="row input-row">

                <paper-input type="text" id="shipAddress" name="shipAddress" pattern=".{5,}"
                             placeholder="Address" required
                             aria-labelledby="shipAddressLabel shipAddressHeading"></paper-input>

            </div>
            <div class="row input-row">

                <paper-input type="text" id="shipCity" name="shipCity" pattern=".{2,}"
                             placeholder="City" required
                             aria-labelledby="shipCityLabel shipAddressHeading"></paper-input>

            </div>
            <div class="row input-row">

                <paper-input type="text" id="shipState" name="shipState" pattern=".{2,}"
                             placeholder="State/Province" required
                             aria-labelledby="shipStateLabel shipAddressHeading"></paper-input>

                <paper-input type="text" id="shipZip" name="shipZip" pattern=".{4,}"
                             placeholder="Zip/Postal Code" required
                             aria-labelledby="shipZipLabel shipAddressHeading"></paper-input>

            </div>
        </section>
        </section>
        <div class="column self-center">
            <paper-dropdown-menu label="Votre fonction">
                <paper-listbox class="dropdown-content">
                    <paper-item>Développeur</paper-item>
                    <paper-item>Manager</paper-item>
                    <paper-item>RH</paper-item>
                    <paper-item>Comptable</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>
        </div>
    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is         : 'people-form',
                properties : {}
            });
        })();
    </script>
</dom-module>
