<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="people-form">
  <style include="iron-flex iron-flex-alignment">

    .column {
      padding-right: 20px;
    }

    paper-card {
      min-width: 500px;
      background-color: white;
      margin: 10px;
      padding: 15px;
    }

    h2, .actions {
      color: var(--primary-color);
    }

  </style>
  <template>
    <paper-card class="people">
      <form is="iron-form" id="form" method="post">
        <section class="layout vertical">
          <section class="column">
            <h2>Id.</h2>
            <div class="row input-row">
              <paper-input id="firstname"  name="firstname" label="Firstname"
                           error-message="The firstname is required" required
                           value="{{currentPeople.firstname}}"></paper-input>
            </div>
            <div class="row input-row">
              <paper-input id="lastname"  name="lastname" label="Lastname"
                           required
                           value="{{currentPeople.lastname}}"></paper-input>
            </div>
            <div class="row input-row">
              <paper-input type="email" id="accountEmail" name="accountEmail" label="Email"
                           error-message="The email is required" required
                           value="{{currentPeople.email}}"></paper-input>
            </div>
            <div class="row input-row">
              <paper-input type="tel" id="accountPhone" name="accountPhone" label="Phone Number"
                           error-message="The phone number should have 10 digits"
                           pattern="\d{10}"
                           value="{{currentPeople.phone}}"></paper-input>

            </div>
          </section>
          <template is="dom-if" if="{{!displayOnlyId}}">
            <section class="column">
              <h2>Address</h2>
              <div class="row input-row">

                <paper-input type="text" id="shipAddress" name="shipAddress" label="Address"
                             value="{{currentPeople.address.street}}"></paper-input>

              </div>
              <div class="row input-row">

                <paper-input type="text" id="shipCity" name="shipCity" label="City"
                             error-message="The city is required" required
                             value="{{currentPeople.address.city}}"></paper-input>

              </div>
              <div class="row input-row">
                <paper-input type="text" id="shipZip" name="shipZip" pattern="\d{5}" label="Zip/Postal Code"
                             error-message="The zipcode should have 5 digits"
                             value="{{currentPeople.address.postalCode}}"></paper-input>
              </div>
              <paper-checkbox checked="{{currentPeople.isManager}}">Manager</paper-checkbox>
            </section>
          </template>
        </section>
      </form>
    </paper-card>
  </template>

  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'people-form',
        properties: {
          displayOnlyId: {
            type: Boolean,
            value: false
          },
          currentPeople: {
            type: Object,
            value: {},
            notify: true
          }
        },
        validateForm: function () {
          return this.$.form.validate();
        },
        cancelForm: function () {
          window.history.back();
        }
      });
    })();
  </script>
</dom-module>
