<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="people-service">
  <template>
    <iron-ajax
      id="getPeoples"
      url="{{apiUrl}}"
      handle-as="json"
      last-response="{{peoples}}"></iron-ajax>
    <iron-ajax
      id="getPeopleById"
      handle-as="json"
      last-response="{{currentPeople}}"></iron-ajax>
    <iron-ajax
      id="getPeoplesBySkill"
      handle-as="json"
      last-response="{{peoplesBySkill}}"></iron-ajax>
  </template>

  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'people-service',
        properties: {
          apiUrl:{
            type:String,
            value:"http://localhost:3001/api/peoples"
          },
          peoples: {
            type: Array,
            value: [],
            notify: true
          },
          peoplesBySkill: {
            type: Array,
            value: [],
            notify: true
          },
          currentPeople: {
            type: Object,
            value: {},
            notify: true
          }
        },
        getPeoples: function () {
          this.$.getPeoples.generateRequest();
        },
        getPeopleById: function (peopleId) {
          this.$.getPeopleById.url=this.apiUrl+"/"+peopleId
          this.$.getPeopleById.generateRequest();
        },
        getPeoplesBySkills: function (selectedSkill) {
          this.$.getPeoplesBySkill.url=this.apiUrl+"/skill/"+selectedSkill;
          this.$.getPeoplesBySkill.generateRequest();
        }
      });
    })();
  </script>
</dom-module>
