<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="people-service">
    <template>
        <iron-ajax
                id="getPeoples"
                url="http://localhost:3001/api/peoples"
                handle-as="json"
                on-response="onGetPeoples"
                last-response="{{peoples}}"></iron-ajax>
    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is : 'people-service',
                properties : {
                    peoples:{
                        type   : Array,
                        value  : [],
                        notify:true
                    }
                },
                getPeoples: function() {
                    this.$.getPeoples.generateRequest();
                },
                onGetPeoples: function() {

                }
            });
        })();
    </script>
</dom-module>
